<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>About section</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="sidebar">
        <h2>Navigation</h2>
        <a href="/">Formula Finder</a> <br>
        <a href="/example">Example</a> <br>
        <a href="/about">About</a>


        <div class="signature">
            © 2025 Kristian Anton Hedegaard
        </div>
    </nav>

    <div class="textbox">
        <h1>About Formula Finder</h1>
        <p> 
            Formula Finder is a web application designed to help determine which formula to use, based on given values in your exercises. We have aimed to include the main formulas of physics and physical chemistry, from danish gymnasium level to first year university level. <br>
            <br>
            The Formula Finder can either be used with Symbols or Units. These can be inputted in the text fields as LaTeX math environment symbols, or simply selected from the dropdown menus. The application will then return any formulas that matches the inputted values.<br>
            <br>
            If no good result pops up, it might be because what you are trying to find the result to, does not include all of the inputted values. In that case, try to remove some of the inputted values, and see if a formula pops up.<br>
            <div class="signature">
                <hr>
                <p style="text-align: center; font-style: italic;">
                    Created by Kristian Anton Hedegaard
                </p>
            </div>
        </p>
    </div>
</body>
</html>
