<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formula Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="sidebar">
        <h2>Navigation</h2>
        <a href="/">Formula Finder</a> <br>
        <a href="/example">Example</a> <br>
        <a href="/about">About</a>


        <div class="signature">
            © 2025 Kristian Anton Hedegaard
        </div>
    </nav>

    <div class="container">
        <h1>Formula Finder - Example</h1>
        
        Yet to be implemented. This page will demonstrate how to use the Formula Finder with example inputs and outputs.
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
